@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Loved+by+the+King&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Micro+5&family=Noto+Color+Emoji&family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Input Mono:ital,opsz,wdth,wght,GRAD@0,8..144,50..150,100..900,-50..100;1,8..144,50..150,100..900,-50..100&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url("https://use.typekit.net/fdg5ypz.css");

:root {
    --bgprimary-color: #141414;
    --bgheader: #141414bf;
    --bgsecondary-color: #222222;
    --bgbanner-color: #27292a;
    --bgradientradial: #2d1f17;
    --text-color: #ffffff;
    --text-color2: #d9d9d9;
    --border-color: #444444;
    --NavCategory: #6f6d72;
    --NavItem: #d1d1d1;
    --NavHover: #2f2d2d;
    --NavActive: #222222;
    --Disabled: #949494;
    --PrimaryColor: #EBFF00;
    --ActiveColor: #fff700;
    --SocialFooterBg: #272727;
    --SocialIcon: #fff260;
    --SocialHoverIcon: #2f2d2d;
    --SecondaryActiveColor: #eeff00;
    --DisabledSecondary: #D9D9D9;
    --logoPrimaryColor: #24fffb;
    --logoSecondaryColor: #ffea00;
    --ScrollThumb: #404040;
    /* Basic color scheme */

    /* Font styling*/
    --IntroTexHighlight: #000000;
    --header-display: "Input Mono";
    --header-displaysize: 3.5vw;
    --header-lineheight: 3vw;
    --main-font: "Input Mono";
    --p-font: "Input Mono";
    --p-size: 0.9rem;

    --navitem-weight: normal;
    --nav-font: "Input Mono";
    --navitem-textsize: 14px;

    --navcategorytext: "Input Mono";
    --navcategorytextsize: 13px;

    /* Font styling*/

    /* Images and visuals*/
    --hero-homebanner: url('https://images.unsplash.com/photo-1513436539083-9d2127e742f1?q=80&w=3526&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    --promo-image-intro: url('../assets/bellonly.svg');

    /* Button sizing*/
    --buttonpadding: 8px 12px;
    --buttonborder-radius: 0px;
    --buttonfont-size: 14px;
    --button-border-size: 2px;
    --button-border-color: #ffea00;
}