:root {
    --bgprimary-color: #141414;
    --bgsecondary-color: #222222;
    --bgbanner-color: #27292a;
    --bgradientradial: #2d1f17;
    --text-color: #ffffff;
    --text-color2: #d9d9d9;
    --border-color: #444444;
    --NavItem: #EFEFEF;
    --NavHover: #4e4e4e;
    --Disabled: #949494;
    --PrimaryColor: #EBFF00;
    --ActiveColor: #000000;
    --SocialFooterBg: #272727;
    --SocialIcon: #fff260;
    --SocialHoverIcon: #565550;
    --SecondaryActiveColor: #eeff00;
    --DisabledSecondary: #D9D9D9;
    --logoPrimaryColor: #24fffb;
    --logoSecondaryColor: #ffea00;
    --ScrollThumb: #404040;

}