@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bayon&family=Bebas+Neue&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&display=swap');

/* Bayon */
/* Bebas Neue */
/* Roboto */
/* Robot Mono */
/* Roboto Serif*/
/* Pixelify Sans */
/* Shantell Sans */
/* Playfair Display */
/* Amatic SC */
/* Press Start 2P */
/* Silkscreen */

:root {
    --bgprimary-color: #141414;
    --bgheader: #141414cd;
    --bgsecondary-color: #222222;
    --bgbanner-color: #27292a;
    --bgradientradial: #2d1f17;
    --text-color: #ffffff;
    --text-color2: #d9d9d9;
    --border-color: #444444;
    --NavCategory: #6f6d72;
    --NavItem: #d1d1d1;
    --NavHover: #2f2d2d;
    --NavActive: #222222;
    --Disabled: #949494;
    --PrimaryColor: #EBFF00;
    --ActiveColor: #fff700;
    --SocialFooterBg: #272727;
    --SocialFooterBorder: #000;
    --SocialFooterBorderSize: 0px;
    --SocialIcon: #fff260;
    --SocialHoverIcon: #2f2d2d;
    --SecondaryActiveColor: #eeff00;
    --DisabledSecondary: #D9D9D9;
    --logoPrimaryColor: #24fffb;
    --logoSecondaryColor: #ffea00;
    --ScrollThumb: #404040;
    /* Basic color scheme */

    /* Font styling*/
    --IntroTexHighlight: #000000;
    --header-display: "Roboto Mono";
    --header-displaysize: 3.5vw;
    --header-lineheight: 3vw;

    --main-font: "Roboto Mono";

    --p-font: "Roboto Mono";
    --p-size: 0.9rem;

    --navitem-weight: normal;
    --nav-font: "Roboto Mono";
    --navitem-textsize: 14px;

    --navcategorytext: "Roboto Mono";
    --navcategorytextsize: 13px;

    /* Font styling*/

    /* Images and visuals*/
    --hero-backgroundcolor: #212121;
    --hero-bordercolor: #000;
    --herobordersize: 0%;
    --herocornerradius: 24px;
    --hero-homebanner: url('../assets/retro-field.svg');
    --promo-image-intro: url('../assets/bellonly.svg');

    /* Button sizing*/
    --buttonpadding: 8px 12px;
    --buttonborder-radius: 0px;
    --buttonfont-size: 14px;
    --button-border-size: 2px;
    --button-border-color: #ffea00;
}