@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bayon&family=Bebas+Neue&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Bayon */
/* Bebas Neue */
/* Roboto */
/* Robot Mono */
/* Roboto Serif*/
/* Pixelify Sans */
/* Shantell Sans */
/* Playfair Display */
/* Amatic SC */
/* Press Start 2P */
/* Silkscreen */


:root {
    /* Basic color scheme */
    --bgprimary-color: #fff;
    --bgheader: #ffffffd7;
    --bgsecondary-color: #f7f8ff;
    --bgbanner-color: #000000;
    --bgradientradial: #DFE8FF;
    --text-color: #19191a;
    --text-color2: #222;
    --border-color: #D9D9D9;
    --NavCategory: #000000;
    --NavItem: #000000;
    --NavHover: #e8e8e8;
    --NavActive: #000000;
    --Disabled: #949494;
    --PrimaryColor: #000000;
    --ActiveColor: #000000;
    --SocialFooterBg: #ffffff;
    --SocialFooterBorder: #000;
    --SocialFooterBorderSize: 2px;
    --SocialIcon: #000000;
    --SocialHoverIcon: #ebebeb;
    --SecondaryActiveColor: #efefef;
    --DisabledSecondary: #D9D9D9;
    --logoPrimaryColor: #000000;
    --logoSecondaryColor: #000000;
    --ScrollThumb: #cbcbcb;
    /* Basic color scheme */


    /* Font styling*/
    --IntroTexHighlight: #ffffff90;
    --header-display: "Playfair Display", serif;
    --header-displaysize: 4.5vw;
    --header-lineheight: 3.75vw;

    --main-font: "Roboto Serif", Serif;

    --p-font: "Roboto Serif", Serif;
    --p-size: 0.9rem;

    --navitem-weight: normal;
    --nav-font: "Roboto Serif", Serif;
    --navitem-textsize: 14px;

    --navcategorytext: "Roboto Serif", Serif;
    --navcategorytextsize: 12px;


    /* Font styling*/

    /* Images and visuals*/
    --hero-backgroundcolor: #ebebeb00;
    --hero-bordercolor: #000;
    --herobordersize: 3px;
    --herocornerradius: 0px;
    --hero-homebanner: url('..');
    --promo-image-intro: url('../assets/default-promo.png');
    --videohero: url('src="assets/boat.mp4"');

    /* Images and visuals*/

    /* Button sizing*/
    --buttonpadding: 12px 20px;
    --buttonborder-radius: 8px;
    --buttonfont-size: 18px;
    --button-border-size: 2px;
    --button-border-color: #000000;


}