@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bayon&family=Bebas+Neue&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&display=swap');

/* Bayon */
/* Bebas Neue */
/* Roboto */
/* Robot Mono */
/* Roboto Serif*/
/* Pixelify Sans */
/* Shantell Sans */
/* Playfair Display */
/* Amatic SC */
/* Press Start 2P */
/* Silkscreen */


:root {
    /* Basic color scheme */
    --bgprimary-color: #000000;
    --bgheader: #000000d7;
    --bgsecondary-color: #f7f8ff;
    --bgbanner-color: #EEF5FF;
    --bgradientradial: #DFE8FF;
    --text-color: #11ff00;
    --text-color2: #00ff51;
    --border-color: #00ff73;
    --NavCategory: #7e7988;
    --NavItem: #00ff51;
    --NavHover: #000000;
    --NavActive: #00ff37;
    --Disabled: #4d4d4d;
    --PrimaryColor: #00ff51;
    --ActiveColor: #000000;
    --SocialFooterBg: #000000;
    --SocialFooterBorder: #000;
    --SocialFooterBorderSize: 2px;
    --SocialIcon: #00ff51;
    --SocialHoverIcon: #ffffff;
    --SecondaryActiveColor: #2f2f2f;
    --DisabledSecondary: #D9D9D9;
    --logoPrimaryColor: #00ff51;
    --logoSecondaryColor: #00ff51;
    --ScrollThumb: #2bb900;
    /* Basic color scheme */


    /* Font styling*/
    --IntroTexHighlight: #ffffff90;
    --header-display: "Silkscreen";
    --header-displaysize: 3vw;
    --header-lineheight: 3.5vw;

    --main-font: "Silkscreen";

    --p-font: "Silkscreen";
    --p-size: 1rem;

    --navitem-weight: normal;
    --nav-font: "Silkscreen";
    --navitem-textsize: 16px;

    --navcategorytext: "Silkscreen";
    --navcategorytextsize: 16px;


    /* Font styling*/

    /* Images and visuals*/
    --hero-backgroundcolor: #ebebeb00;
    --hero-bordercolor: #00ff2f;
    --herobordersize: 2px;
    --herocornerradius: 0px;
    --hero-homebanner: url('../assets/matrix-animate.svg');
    --promo-image-intro: url('../assets/default-promo.png');
    --videohero: url('src="assets/boat.mp4"');

    /* Images and visuals*/

    /* Button sizing*/
    --buttonpadding: 12px 20px;
    --buttonborder-radius: 0px;
    --buttonfont-size: 18px;
    --button-border-size: 4px;
    --button-border-color: #ffffff;


}