.btn {
    display: inline-block;
    padding: var(--buttonpadding);
    border: 2px solid var(--PrimaryColor);
    /* Green border color */
    color: var(--PrimaryColor);
    /* Green text color */
    text-align: center;
    text-decoration: none;
    border-radius: var(--buttonborder-radius);
    font-size: var(--buttonfont-size);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;
    border: solid var(--button-border-size) var(--button-border-color);
}

/* Hover effect */
.btn:hover {
    background-color: var(--PrimaryColor);
    /* Green background color */
    color: var(--bgprimary-color);


    /* White text color */
}

.btn:active {
    background-color: var(--ActiveColor);
    /* Green background color */
    color: var(--bgprimary-color);
    /* White text color */
}