/* fonts.css */
@font-face {
    font-family: 'LibreFranklinRegular';
    src: url('/fonts/Libre_Franklin/LibreFranklin-Regular.ttf') format('tff');
}

@font-face {
    font-family: 'LibreFranklinBold';
    src: url('/fonts/Libre_Franklin/LibreFranklin-Bold.ttf') format('tff');
    font-weight: bold;
}

@font-face {
    font-family: 'LibreFranklinItalic';
    src: url('/fonts/Libre_Franklin/LibreFranklin-Italic.ttf') format('tff');
    font-weight: Italic;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('tff');
}

@font-face {
    font-family: 'LibreBaskervilleBold';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('tff');
    font-weight: bold;
}

@font-face {
    font-family: 'LibreBaskervilleItalic';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('tff');
    font-weight: Italic;
}

@font-face {
    font-family: 'Bebas';
    src: url('/fonts/bebas/BebasNeue-Regular.ttf') format('tff');
}