.heroSection {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: var(--hero-homebanner);
    border-radius: var(--herocornerradius);
    background-color: var(--hero-backgroundcolor);
    height: 60vh;
    flex-wrap: wrap;
    align-content: center;
    border: solid var(--hero-bordercolor) var(--herobordersize);
}

.heroContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 32px;
    gap: 16px;
    max-width: 1104px;
}

.heroContents {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.heroDisplaytext {
    color: var(--PrimaryColor);
    font-family: var(--header-display);
    font-size: var(--header-displaysize);
    line-height: var(--header-lineheight);

}

.heroContents p {
    font-size: 1.25vw;
    line-height: 1.25vw;
    padding: 8px;
    font-family: var(--p-font)
}


.snazzybox {
    width: 80%;
    height: auto;
    border-radius: 48px;

}

.snazzybox img {
    width: 100%;
    height: auto;
    max-height: 600px;
    max-width: 600px;

}

.stackcontainer {
    max-width: 968px;
    margin: 0;
    padding: 0;
}

.promobanner {
    border-radius: 1.5rem;
    background: var(--SocialFooterBg);
    border: solid var(--SocialFooterBorder) var(--SocialFooterBorderSize);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 140px;
}

.promotext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.promoimage {
    width: 210px;
    background: var(--promo-image-intro);
    height: 245px;
    background-position: center;
    background-size: cover;
    right: 7rem;

}

.stackcontainer ul {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 0 2rem 0;
    margin: 0;
    padding-top: 3rem;

}

.stackcontainer li {
    display: flex;
    min-width: 20rem;
    max-width: 26rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
}

.stackitem {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.stackicon {
    width: 1.75rem;
    height: 1.75rem;
}

.stackicon img {
    width: 100%;
    padding-top: 3px;
}

#bg-wrap {
    position: absolute;
}




/* Responsive Design */
@media screen and (max-width: 1104px) {

    .heroContainer {
        flex-direction: column;
        padding: 48px;
    }

    .heroContents {
        align-items: center;
        text-align: center;
    }

    .heroDisplaytext {
        font-size: 40px;
        line-height: normal;

    }

    .snazzybox {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .stackcontainer h2 {
        text-align: center;
    }

    .stackcontainer ul {
        justify-content: center;
    }

    .promobanner {
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;

    }

    .promoimage {
        width: 160px;
        height: 200px;
    }

    .promotext {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .promotext h3 {
        text-align: center;
    }

    .promotext p {
        text-align: center;
    }

    .heroContents p {
        font-size: 16px;
        line-height: 24px;
        padding: 8px;
    }

}


@media screen and (max-width: 480px) {

    .heroSection {
        height: 88vh;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 80vh;
        background-position: center;

    }

    .heroContents {
        justify-content: flex-start;
    }

    .promobanner img {
        width: 100px;
    }

    .stackcontainer li {
        min-width: 12rem;
    }

    .snazzybox {

        display: flex;
        justify-content: center;
    }
}