html {

    scroll-behavior: smooth;

}

body {
    margin: 0;

    letter-spacing: 0%;
    background-color: var(--bgprimary-color);
    color: var(--text-color);
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: var(--ScrollThumb);
    /* scroll thumb and track */


}

video {
    width: 100%;
    /* Adjust width as needed */
    height: auto;
    /* Adjust height as needed */
}


#fade-in {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#fade-in.loaded {
    opacity: 1;
}


/* Text Styles */
h1 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    font-family: var(--header-display);
    line-height: normal;
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    font-family: var(--header-display);
    line-height: normal;
    margin: 0;
}

h3 {
    font-size: 1.125rem;
    font-style: normal;
    line-height: 2rem;
    font-family: var(--main-font);
    margin: 0;

}

p {
    color: var(--text-color2);
    line-height: 1.5;
    font-family: var(--p-font);
    font-size: var(--p-size);
}

/* End of Text Styles */


/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px var(--bgprimary-color);
    background: var(--bgprimary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--ScrollThumb);
    border-radius: 6px;

}

/* End of Scrollbar */




/* Header */
header {
    color: var(--text-color);
    text-align: center;
    position: fixed;
    width: 100%;
    border-right: 3px solid var(--border-color);
    top: 0;
    padding-right: 4px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.LogoContainer {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    padding: 16px 4px 16px 24px;
}

.LogoContainer a {
    text-decoration: none;
}

.LogoContainer a:hover {
    animation: logo 1s linear 0ms 999 reverse none;
}

@keyframes logo {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}



.logo {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    font-family: var(--header-display);
    background: linear-gradient(to right, var(--logoPrimaryColor), var(--logoSecondaryColor));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    height: 40px;
}


/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 16px;

}

/* Style for the button that triggers the dropdown */
.dropdown-btn {
    width: 144px;
    padding: 10px;
    color: var(--text-color);
    border: none;
    font-family: var(--main-font);
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: left;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    background-color: var(--bgprimary-color);
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    width: 144px;
    border: 1px solid var(--border-color);
    background-color: var(--bgprimary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 8px;
    border-radius: 4px;
}

/* Style for each dropdown item */
.dropdown-item {
    padding: 10px;
    display: block;
    font-size: 12px;
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
    font-family: var(--main-font)
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    background-color: var(--NavHover);
    animation: fadeIn;
    animation-duration: 400ms;
}

/* Style for the arrow-down icon */
.dropicon {
    margin-left: 8px;

}



.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* Banner template */
.topSection {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    background: radial-gradient(52.98% 52.98% at 50% 14.9%, var(--bgradientradial) 0%, var(--bgradientradial) 0.01%, var(--bgprimary-color) 80.21%);
    height: 360px;
    background-size: cover;
    background-position: center;
}


.topContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 48px 0 48px;
    max-width: 1104px;
}

.topContents {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.topDisplaytext {
    color: var(--PrimaryColor);
    font-family: var(--header-display);
    font-size: 3.5vw;
    font-weight: 200;
}

/* */


/* Menu icon for mobile view */
.menu-icon {
    display: block;
    cursor: pointer;
    top: 15px;
    left: 15px;
    font-size: 24px;
}



/* Content */
.contentContainer {
    margin-left: 288px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.content {
    max-width: 960px;
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.blogcontainer {
    gap: 2rem;
    display: flex;
    flex-direction: column;

}

.workbanner {
    background: var(--bgbanner-color);
    border-radius: 8px;
    width: 100%;
    max-width: 960px;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.imageSplash {
    width: 264px;
    height: 264px;
    background: #000;
    box-sizing: border-box;
}

.bannerText {
    width: 100%;
    padding: 0 48px 0 48px;

}



.footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-top: var(--border-color) solid 1px;
    font-size: 12px;
    font-weight: 600;
    color: var(--Disabled);

}



/* Responsive Design */
@media screen and (max-width: 760px) {
    .menu-icon {
        display: block;
    }

    .contentContainer {
        margin-left: 0px;
        padding: 72px 24px 24px 24px;
    }

    header {
        border: 0px solid #fff;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.0);
        background-color: var(--bgheader);
        backdrop-filter: blur(8px);

    }
}

@media screen and (min-width: 761px) {

    .menu-icon {
        display: none;
    }
}



@media screen and (min-width: 1400px) {
    .topDisplaytext {
        font-size: 52px;
    }
}

/* Responsive Design */
@media screen and (max-width: 1104px) {
    .topContainer {
        flex-direction: column;
    }

    .topContents {
        align-items: center;
        text-align: center;
    }

    .topDisplaytext {
        font-size: 40px;

    }

    .topContainer {
        padding: 48px;
    }

}

@media screen and (max-width: 480px) {

    .topSection {
        height: 100vh;
        align-items: center;
    }

    .topSection {
        height: 100vh;
        align-items: center;
    }

    .topContents {
        justify-content: flex-start;
    }

    .content {
        padding: 48px 0 0 0;
    }

}